.app-wrapper {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  box-shadow: 10px 10px 17px 4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 17px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 17px 4px rgba(0, 0, 0, 0.75);
}
